* {
  -webkit-box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428;
  color: #333;
  background-color: #fff;
}

/*.clust_icon{
  float:left;
  width: 33.3333333%;
  padding-left: 15px;
  padding-right: 15px;
}*/

.viz_medium_text{
  width:99%;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  color:#333;
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
  padding-left: 0px;
}

.viz_large_text{
  width:99%;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 3px;
  color:#333;
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
  padding-left: 0px;
}

/* need to move d3-tip into stypes */
.d3-tip {
  line-height: 1.25;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  max-width: 500px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.icon_buttons{
  color: #337ab7;
}

.sidebar_text{
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
}

.sidebar_button_text{
  font-size: 13px;
  font-weight: 300;
}

.btn{
  padding-top:2px;
  padding-bottom:2px;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}

.btn-group-vertical > .btn.active {
  z-index: 2;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}

.btn-group-vertical > .btn {
  position: relative;
  float: left;
}

.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn {
  font-family: inherit;
  display: inline-block;
  /*padding: 6px 12px;*/
  margin-bottom: 0;
  /*font-size: 14px;*/
  /*font-weight: normal;*/
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.toggle_row_order{
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.modal-backdrop{
  display: none;
}

.modal-backdrop.fade{
  display: none;
}

.modal-backdrop.in{
  display: none;
}

/* sidebar tooltips */
.sidebar_tooltip {
    position: relative;
    display: inline-block;
}

.sidebar_tooltip .sidebar_tooltip_text {
    visibility: hidden;
    width: 120px;
    background: rgba(0, 0, 0, 1);
    /*opacity: 0.95;*/
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1000;
    top:100%;
    /*left:-400%;*/
    font-size: 15px;
    /*margin-left: 60px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.sidebar_tooltip:hover .sidebar_tooltip_text {
    visibility: visible;
}

div.awesomplete > ul {
  z-index: 99;
}


.form-control {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}


/*       tree CSS        */






h1 {
  font-size: 45px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 2em;
}

/*footer {*/
  /*position: absolute;
  bottom: 0;
  width: 100%;
  height:60;
  background-color: red;*/
  /*margin-left: 200px;
  text-align: center;
  background-color: #f5f5f5;
  font-size: 13px;
  padding-left:10px;
  padding-right:10px;*/
/*}*/

#main_container{
  position: relative;
  margin-left: 55px;
  /*height:2000px;*/
}

#website_title{
  margin-top: 12px;
  margin-bottom: 10px;
  display: inline-block;
  /*margin-left: 5px;*/
  font-size: 30px;
}

.initial_paragraph{
  font-size: 19px;
  width:940px;
  font-weight: 300;
  text-align: justify;
}


/*footer - shift it with the sidebar*/
#footer_div{
  margin-left: 0px;
}

/*position file upload button*/
#file_upload_button{
  margin-left: 5px;
}

/*style example_tsv*/
#example_tsv{
  width:275px;
  padding-left: 23px;
  margin-left: 30px;
}

/*color choose file button*/
.btn-default {
  background-color: #D0D0D0;
}

/*#tree_container{*/
  /*display: block;*/
  /*height: 520px;*/
  /*width: 920px;*/
  /*border: 1px solid #DEDEDE;*/
/*}*/

#input_form{
  margin-bottom: 10px;
  float:left;
}

#demo_paragraph{
  margin-top: 25px;
  margin-bottom: 5px;
}

#demo_link{
  color: #009dff;
  font-size: 12px;
  margin-left: 788px;
}

#upload_section{
  margin-top: 10px;
  /*margin-left: 15px;*/
}

.footer_text{
  padding-top: 2px;
  padding-bottom: 2px;
}

#footer_text_container{
  margin-top: 10px;
  margin-bottom: 0px;
  min-width: 950px;
}

.first_instructions{
  margin-left: 0px;
}

#home_graham_cracker{
  margin-top: -13px;
}

#homepage_examples{
  /*divider*/
  margin-top: 55px;
  padding-top: 40px;
  border-top: 1px solid #DEDEDE;
  width:920px;a
  height: 300px;
  margin-left: 0px;
}

#example_title{
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 15px;
}

.example_single_title{
  font-size: 19px;
  font-weight: 300;
  text-align: center;
}

.example_single_description{
  font-size: 15px;
  font-weight: 300;
  /*text-align: center;*/
  padding: 5px;
}

.example_image_container{
  width:100%;
  height: 200px;
  /*background: red;*/
  border: 1px solid #DEDEDE
}

.example_image{
  margin-left: 5px;
  margin-top: 10px;
  width:285px;
  height: 180px;
  border: 0;
}

#harmonizome{
  margin-left: 10px;
}

#L1000CDS2{
  margin-left: 10px;
}

.example_col{
  padding-left: 7px;
  padding-right: 7px;
}

#help_link{
  font-size: 30px;
  margin-top: -11px;
  padding-left: 0px;
  /*margin-left: 10px;*/
}


/*@import url(http://fonts.googleapis.com/css?family=Wire+One);*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  font-weight: 300;
  position: relative;
  /*padding: 20px;*/
  height: 100%;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
    border: solid 1px white;
    line-height: 0.95;
    overflow: hidden;
    position: absolute;
    /*border: 2px;*/
    /*border-color: white;*/
    /*border-radius: 6px;*/
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));

}

.node div {
   padding: 6px 4%;
}

.node:hover{
  /*background-color:'#000000';*/
  background: yellow;
}


#tree_container{
  /*margin-left: 20px;*/
  margin-top: 15px;
  margin-bottom: 15px;
  width:940px;
  height: 600px;
}

#clustergrammer_logo{
  width:250px;
  margin-top: -15px;
  margin-left: -3px;
}